body {
    font-family: sans-serif;
    margin: 0;
}

header{
    border:5px solid royalblue;
    border-radius:10px;
    padding: 10px;
    margin: 5px;
    font-size: 25px;
}

header a{
    border: royalblue solid ;
    text-decoration: none;
    border-radius: 9px;
    padding: 5px;
    margin: 50px;
    color: black;
}

h1{
    text-align: center;
    font-size: 50px;
    border: solid royalblue 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(9, 9, 158);
    color: rgb(79, 139, 141);
}

footer{
    
    color: white;
    border: solid grey;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(#3a3a3b, #000000);
}

nav{
    background-color: royalblue;
    padding: 15px;
    
    
}

nav a{
    color: black;
    border: solid black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
}

main{
    margin: 10px;
}

.ananas{
    background-color: burlywood;
    border: solid rgb(183, 151, 109);
    padding: 5px;
    border-radius: 10px;
}

h2 {
    color: #1b70b6;
}
